body {
  background-color: #feedbc;
  margin: 0;
}

#content_wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#content_wrapper #header {
  display: flex;
  max-width: 90%;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 3.36rem;
  margin: auto;
  margin-top: 2rem;
}
#content_wrapper #header__logo {
  position: relative;
  left: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 4.2rem;
  height: 2.03rem;
}
#content_wrapper #header__uk {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.49rem;
  width: 1.24rem;
  height: 1rem;
}
#content_wrapper #first {
  margin: auto;
  max-width: 80%;
  margin-top: 2rem;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 768px) {
  #content_wrapper #first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }
}
#content_wrapper #first__image {
  width: 100%;
  height: auto;
  max-width: 503px;
  max-height: 391px;
  min-width: 303px;
  min-height: 91px;
}
@media (max-width: 768px) {
  #content_wrapper #first__image {
    max-width: 503px;
    max-height: 391px;
  }
}
@media (max-width: 375px) {
  #content_wrapper #first__image {
    max-width: 303px;
    max-height: 291px;
    min-width: 103px;
    min-height: 51px;
  }
}
#content_wrapper #first h2 {
  color: #f9b800;
  text-transform: uppercase;
  font-size: 1.26rem;
  margin: 0;
  line-height: 1.7rem;
}
@media (max-width: 768px) {
  #content_wrapper #first h2 {
    font-size: 0.86rem;
    line-height: 0.7rem;
  }
}
#content_wrapper #first h1 {
  line-height: 3rem;
  color: #262626;
  font-size: 2.73rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #first h1 {
    font-size: 1.86rem;
    line-height: 1.7rem;
  }
}
#content_wrapper #first .signbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#content_wrapper #first .signbox .sign {
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  background-color: white;
  width: -moz-min-content;
  width: min-content;
  padding-right: 0.79rem;
  padding-left: 0.35rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #first .signbox .sign {
    margin-top: 0.7rem;
  }
}
#content_wrapper #first .signbox .sign img {
  width: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #first .signbox .sign img {
    width: 0.9rem;
  }
}
#content_wrapper #first .signbox .sign p {
  margin-left: 0.75rem;
  color: #262626;
  font-weight: bold;
  font-size: 0.82rem;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #content_wrapper #first .signbox .sign p {
    font-size: 0.62rem;
  }
}
#content_wrapper #first__button {
  border: none;
  display: flex;
  margin-top: 2.24rem;
  background-color: #f9b800;
  max-width: 15.37rem;
  padding: 1.19rem;
  padding-right: 1.19rem;
  padding-left: 1.19rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #first__button {
    margin-top: 1.24rem;
  }
}
#content_wrapper #first__button span {
  margin: auto;
  margin-right: 2.73rem;
  color: #262626;
  font-weight: bolder;
  font-size: 1rem;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #content_wrapper #first__button span {
    font-size: 0.7rem;
  }
}
#content_wrapper #first__button img {
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #first__button img {
    width: 1.4rem;
  }
}
@media (max-width: 768px) {
  #content_wrapper #first__button {
    max-width: none;
    padding: 0.89rem;
  }
}
#content_wrapper #first a {
  text-decoration: none;
}
#content_wrapper #first a:hover {
  cursor: pointer;
}
#content_wrapper #second_bg {
  width: 100%;
  min-height: 35.83rem;
  background-color: #f9b800;
  transform: skewY(-10deg);
}
@media (max-width: 768px) {
  #content_wrapper #second_bg {
    min-height: 50.83rem;
  }
}
#content_wrapper #second_bg__insides {
  align-items: center;
  padding-top: 9.46rem;
  transform: skewY(10deg);
  margin: auto;
  max-width: 80%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
#content_wrapper #second_bg__insides__textbox {
  max-width: 60%;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__textbox {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides {
    padding-top: 5.46rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    max-width: 100%;
  }
}
#content_wrapper #second_bg__insides__image {
  width: 100%;
  height: auto;
  max-width: 503px;
  max-height: 391px;
}
@media (max-width: 375px) {
  #content_wrapper #second_bg__insides__image {
    max-width: 303px;
    max-height: 291px;
    min-width: 103px;
    min-height: 51px;
  }
}
#content_wrapper #second_bg__insides__button {
  border: none;
  display: flex;
  margin-top: 2.24rem;
  background-color: #262626;
  max-width: 15.37rem;
  padding: 1.19rem;
  padding-right: 1.19rem;
  padding-left: 1.19rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__button {
    margin-top: 1.24rem;
  }
}
#content_wrapper #second_bg__insides__button__text {
  margin: auto;
  margin-right: 2.73rem;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1rem;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__button__text {
    font-size: 0.7rem;
  }
}
#content_wrapper #second_bg__insides__button img {
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__button img {
    width: 1.4rem;
  }
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__button {
    max-width: none;
    padding: 0.89rem;
  }
}
#content_wrapper #second_bg__insides h2 {
  color: #262626;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides h2 {
    font-size: 0.86rem;
    line-height: 0.7rem;
  }
}
#content_wrapper #second_bg__insides h1 {
  line-height: 3rem;
  color: #262626;
  font-size: 1.93rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides h1 {
    font-size: 1.86rem;
    line-height: 1.7rem;
  }
}
#content_wrapper #second_bg__insides__textsmall {
  color: #262626;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  #content_wrapper #second_bg__insides__textsmall {
    font-size: 0.89rem;
  }
}
#content_wrapper #second_bg__insides a {
  text-decoration: none;
}
#content_wrapper #second_bg__insides a:hover {
  cursor: pointer;
}
#content_wrapper #third_bg {
  width: 100%;
  background-color: #262626;
  transform: skewY(-10deg);
  max-height: 117rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg {
    max-height: 137rem;
  }
}
#content_wrapper #third_bg__comment {
  background-color: white;
  transform: skewY(10deg);
  margin: auto;
  margin-top: 11.18rem;
  max-width: 70%;
  border-radius: 5.96rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3.46rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment {
    border-radius: 3.96rem;
    padding: 1.46rem;
    max-width: 70%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
#content_wrapper #third_bg__comment img {
  width: 100%;
  height: auto;
  max-width: 26.1rem;
  max-height: 26.1rem;
  min-width: 16.1rem;
  min-height: 16.1rem;
  border-radius: 14.91rem;
  display: flex;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment img {
    border-radius: 9.91rem;
    min-width: 6.1rem;
    min-height: 6.1rem;
  }
}
#content_wrapper #third_bg__comment__insides {
  padding-left: 4.47rem;
  text-align: left;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment__insides {
    padding-left: 0rem;
    text-align: center;
  }
}
#content_wrapper #third_bg__comment__insides h1 {
  color: #262626;
  margin: 0;
  font-size: 1.64rem;
  margin-bottom: 2.73rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment__insides h1 {
    font-size: 1.24rem;
    margin-top: 0.8rem;
    margin-bottom: 1.23rem;
  }
}
#content_wrapper #third_bg__comment__insides h2 {
  color: #262626;
  font-weight: normal;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment__insides h2 {
    font-size: 0.73rem;
  }
}
#content_wrapper #third_bg__comment__insides h3 {
  color: #262626;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment__insides h3 {
    font-size: 0.73rem;
  }
}
#content_wrapper #third_bg__comment__insides h4 {
  color: #262626;
  margin: 0;
  font-weight: bolder;
  font-size: 3.73rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__comment__insides h4 {
    font-size: 2.73rem;
  }
}
#content_wrapper #third_bg__comment__insides a:hover {
  color: #f9b800;
}
#content_wrapper #third_bg__comment__insides a {
  color: #262626;
  text-decoration: none;
}
#content_wrapper #third_bg__insides {
  padding-top: 3rem;
  gap: 2rem;
  transform: skewY(10deg);
  margin: auto;
  max-width: 80%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides {
    max-width: 80%;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
#content_wrapper #third_bg__insides__textbox {
  margin-top: 10%;
  font-size: 1.12rem;
  text-align: left;
}
#content_wrapper #third_bg__insides__textbox h2 {
  color: #f9b800;
  font-size: 0.96rem;
  margin: 0;
  line-height: 1.3rem;
  font-weight: normal;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__textbox h2 {
    font-size: 0.86rem;
    line-height: 1rem;
  }
}
#content_wrapper #third_bg__insides__textbox h1 {
  line-height: 3rem;
  color: #ffffff;
  font-size: 2.33rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__textbox h1 {
    line-height: 2rem;
    font-size: 2rem;
  }
}
#content_wrapper #third_bg__insides__textbox__button {
  border: none;
  display: flex;
  margin-top: 2.24rem;
  background-color: #ffffff;
  max-width: 15.37rem;
  padding: 1.19rem;
  padding-right: 1.19rem;
  padding-left: 1.19rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__textbox__button {
    max-width: none;
    padding: 0.89rem;
  }
}
#content_wrapper #third_bg__insides__textbox__button__text {
  margin: auto;
  margin-right: 2.73rem;
  color: #262626;
  font-weight: bolder;
  font-size: 1rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__textbox__button__text {
    font-size: 0.7rem;
  }
}
#content_wrapper #third_bg__insides__textbox__button img {
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#content_wrapper #third_bg__insides__textbox a {
  text-decoration: none;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox {
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox {
    gap: 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox:nth-child(2) .sign:first-child {
  background-color: #f9b800;
}
#content_wrapper #third_bg__insides__signboxes .signbox:nth-child(2) .sign:last-child {
  position: relative;
  top: 3.73rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox:nth-child(2) .sign:last-child {
    top: 0;
    position: static;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox:first-child .sign:last-child {
  background-color: #f9b800;
  position: relative;
  top: 3.73rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox:first-child .sign:last-child {
    top: 0;
    position: static;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox h2 {
  color: #262626;
  font-size: 2.33rem;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox h2 {
    font-size: 2.73rem;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox h3 {
  font-size: 1.03rem;
  margin: 0;
}
#content_wrapper #third_bg__insides__signboxes .signbox h4 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox h4 {
    font-size: 0.82rem;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox h5 {
  margin-top: 0.75rem;
  font-weight: lighter;
  font-size: 0.82rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox h5 {
    font-size: 0.82rem;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox span.y {
  color: #f9b800;
}
#content_wrapper #third_bg__insides__signboxes .signbox span.w {
  color: white;
}
#content_wrapper #third_bg__insides__signboxes .signbox .sign {
  margin-bottom: 1rem;
  padding: 2.23rem;
  background-color: white;
  max-width: 12.91rem;
  max-height: 12.91rem;
  width: 8.91rem;
  height: auto;
  border-radius: 3.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox .sign {
    padding: 1.73rem;
    max-width: none;
    margin-bottom: 1rem;
    width: auto;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox img {
  width: 2.23rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #third_bg__insides__signboxes .signbox img {
    width: 2.73rem;
  }
}
#content_wrapper #third_bg__insides__signboxes .signbox p {
  margin-left: 0.75rem;
  color: #262626;
  font-weight: bold;
  font-size: 1.12rem;
}
#content_wrapper #fourth_bg {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 50.83rem;
  background-color: #f9b800;
  transform: skewY(-10deg);
}
#content_wrapper #fourth_bg__insides {
  align-items: center;
  padding-top: 9.46rem;
  transform: skewY(10deg);
  margin: auto;
  max-width: 80%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
#content_wrapper #fourth_bg__insides__textbox {
  max-width: 60%;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides__textbox {
    max-width: none;
  }
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }
}
@media (max-width: 375px) {
  #content_wrapper #fourth_bg__insides {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-wrap: wrap-reverse;
    flex-direction: row;
  }
}
#content_wrapper #fourth_bg__insides__image {
  width: 100%;
  height: auto;
  max-width: 503px;
  max-height: 391px;
}
#content_wrapper #fourth_bg__insides__button {
  border: none;
  display: flex;
  margin-top: 2.24rem;
  background-color: #262626;
  max-width: 15.37rem;
  padding: 1.19rem;
  padding-right: 1.19rem;
  padding-left: 1.19rem;
  border-radius: 2.36rem;
}
#content_wrapper #fourth_bg__insides__button__text {
  margin: auto;
  margin-right: 2.73rem;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1rem;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides__button__text {
    font-size: 0.7rem;
  }
}
#content_wrapper #fourth_bg__insides__button img {
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides__button {
    max-width: none;
    padding: 0.89rem;
  }
}
#content_wrapper #fourth_bg__insides h1 {
  line-height: 3rem;
  color: #262626;
  font-size: 2.73rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides h1 {
    font-size: 1.86rem;
    line-height: 2rem;
  }
}
#content_wrapper #fourth_bg__insides a {
  text-decoration: none;
}
#content_wrapper #fourth_bg__insides a:hover {
  cursor: pointer;
}
#content_wrapper #fourth_bg__insides .signbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#content_wrapper #fourth_bg__insides .signbox .sign {
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  background-color: white;
  width: -moz-min-content;
  width: min-content;
  padding-right: 0.79rem;
  padding-left: 0.35rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides .signbox .sign {
    margin-top: 0.7rem;
  }
}
#content_wrapper #fourth_bg__insides .signbox .sign img {
  width: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides .signbox .sign img {
    width: 0.9rem;
  }
}
#content_wrapper #fourth_bg__insides .signbox .sign p {
  margin-left: 0.75rem;
  color: #262626;
  font-weight: bold;
  font-size: 0.82rem;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #content_wrapper #fourth_bg__insides .signbox .sign p {
    font-size: 0.62rem;
  }
}
#content_wrapper #fifth_bg {
  width: 100%;
  min-height: 50rem;
  max-height: 115.46rem;
  background-color: #262626;
  transform: skewY(-10deg);
}
#content_wrapper #fifth_bg .signbox {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#content_wrapper #fifth_bg .signbox details summary::-webkit-details-marker {
  display: none;
}
#content_wrapper #fifth_bg .signbox details > summary {
  list-style: none;
}
#content_wrapper #fifth_bg .signbox summary {
  list-style: none;
  font-weight: bold;
}
#content_wrapper #fifth_bg .signbox .sign {
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 3rem;
  padding-top: 0.4rem;
  padding-right: 0.79rem;
  padding-left: 0.35rem;
  border-radius: 2.36rem;
}
#content_wrapper #fifth_bg .signbox .sign .text {
  margin-left: 0.75rem;
  color: #262626;
  font-size: 0.82rem;
}
#content_wrapper #fifth_bg .signbox .sign img {
  align-items: left;
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#content_wrapper #fifth_bg__insides {
  padding-bottom: 5rem;
  gap: 2rem;
  transform: skewY(10deg);
  margin: auto;
  max-width: 80%;
  padding-top: 5rem;
}
#content_wrapper #fifth_bg__insides h1 {
  text-align: center;
  line-height: 3rem;
  color: #ffffff;
  font-size: 1.83rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #fifth_bg__insides h1 {
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}
#content_wrapper #fifth_bg__insides h2 {
  text-align: center;
  line-height: 3rem;
  color: #ffffff;
  font-size: 0.93rem;
  font-weight: normal;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #fifth_bg__insides h2 {
    line-height: 1rem;
  }
}
#content_wrapper #footer {
  display: flex;
  width: 100%;
  padding: 10px;
}
#content_wrapper #footer__wrapper {
  margin-top: 10rem;
  margin-bottom: 2rem;
}
#content_wrapper #footer__wrapper .container {
  margin: auto;
  margin-top: 2rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
#content_wrapper #footer__wrapper .container__textbox {
  max-width: 70%;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container__textbox {
    max-width: none;
  }
}
#content_wrapper #footer__wrapper .container p {
  margin-left: 0.75rem;
  color: #262626;
  font-size: 0.82rem;
}
#content_wrapper #footer__wrapper .container h1 {
  line-height: 2rem;
  color: #262626;
  margin: 0;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container h1 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}
#content_wrapper #footer__wrapper .container__button_wrapper a {
  text-decoration: none;
}
#content_wrapper #footer__wrapper .container__button_wrapper a:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container__button_wrapper {
    width: 100%;
  }
}
#content_wrapper #footer__wrapper .container__button_wrapper__button {
  border: none;
  display: flex;
  background-color: #f9b800;
  max-width: 15.37rem;
  padding: 1.19rem;
  padding-right: 1.19rem;
  padding-left: 1.19rem;
  border-radius: 2.36rem;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container__button_wrapper__button {
    max-width: none;
    padding: 0.89rem;
  }
}
#content_wrapper #footer__wrapper .container__button_wrapper__button span {
  margin: auto;
  margin-right: 2.73rem;
  color: #262626;
  font-weight: bolder;
  font-size: 1rem;
  white-space: nowrap;
}
@media (max-width: 768px) {
  #content_wrapper #footer__wrapper .container__button_wrapper__button span {
    font-size: 0.7rem;
  }
}
#content_wrapper #footer__wrapper .container__button_wrapper__button img {
  margin-right: 0;
  margin-left: auto;
  width: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#content_wrapper #footer__wrapper .container a {
  color: #262626;
  font-size: 0.82rem;
}/*# sourceMappingURL=style.css.map */